{% extends "base.html" %}
{% block content %}
<h2>Iniciar Sesión</h2>
<form method="POST">
    <div class="mb-3">
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" name="usuario" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="contraseña" class="form-label">Contraseña</label>
        <input type="password" name="contraseña" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    <a href="{{ url_for('main.registro') }}" class="btn btn-link">¿No tienes cuenta? Regístrate</a>
    <p>trabajo realizado por wesly santiago ceron </p>
</form>
{% endblock %}
